<div class="row">
  <div class="col-xs-12 center-block text-center">
    <h3><%= g.name %></h3>
    <%= form_tag('/goal/'+g.id.to_s+'/update_day', remote: true, class: "day-form") do %>
    <div class="form-group">
      <% date_month = g.days.map {|d| [d.date, d.id]} %>
      <%= select_tag(:day_id, options_for_select(date_month, g.days.first.id), class: "form-control") %>
    </div>
    <div class="form-group">
      <%= submit_tag("Add", class: "btn btn-success btn-lg change-score add-score") %>
      <div class="form-group">
      </div>
      <%= submit_tag("Subtract", class: "btn btn-danger btn-xs change-score subtract-score") %>
    </div>
    <% end %>
  </div>
</div>
