<div class="col-md-3 col-sm-4 col-xs-12">
  <div class=" <%= g.theme %> panel panel-goal center-block">
    <div class="panel-body">
      <%= render :partial => 'home/goal_form', :locals => { :g => g }%>
      <div>
        <svg width="160" height="300" class="center-block">
          <g>
            <text x="28"  y="15" class="results-day">M</text>
            <text x="64"  y="15" class="results-day">W</text>
            <text x="103" y="15" class="results-day">F</text>
            <text x="138" y="15" class="results-day">S</text>
          </g>
          <g>
            <% week_counter = 1 %>
            <% g.progresses.order('date DESC').each_with_index do |p,i| %>
            <% week_counter = (p.dofw == 7 && i != 1 ? week_counter+=1 : week_counter) %>
            <% if (p.dofw == 7 || i == 0) %><g><% end %>
            <% if p.date.day == 1 %>
            <text x="0" y="<%= (18 * week_counter)+11 %>" class="results-month"><%= p.date.strftime('%b') %></text>
            <% end %>
            <g class="results-rect-group">
              <rect id="day-<%= p.id%>" class="results-rect" width="15" height="15" x="<%= (18 * p.dofw)+8 %>" y="<%= 18 * week_counter %>" fill="<%= p.range_color%>" data-id="<%= p.id%>" data-score="<%= p.score%>" data-date="<%= p.date.strftime("%m-%d-%Y") %>" data-gid="<%= g.id%>"></rect>
              <text x="<%= (18 * p.dofw)+12 %>" y="<%= (18 * week_counter) + 12 %>" class="results-rect-text"><%= p.score%></text>
            </g>
            <% if (p.dofw == 1 || i == g.progresses.length-1) %></g><% end %>
            <% end %>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>