<div class="col-md-3 col-sm-4 col-xs-12">
  <div class=" <%= g.theme %> panel panel-goal center-block">
    <div class="panel-body">
      <%= render :partial => 'home/goal_form', :locals => { :g => g }%>
      <div>
        <svg width="160" height="300" class="center-block">
          <g>
            <text x="28"  y="15" class="results-day">M</text>
            <text x="64"  y="15" class="results-day">W</text>
            <text x="103" y="15" class="results-day">F</text>
            <text x="138" y="15" class="results-day">S</text>
          </g>
          <g>
            <% week_counter = 1 %>
            <% g.days.order('date DESC').each_with_index do |d,i| %>
            <% week_counter = (d.dofw == 7 && i != 1 ? week_counter+=1 : week_counter) %>
            <% if (d.dofw == 7 || i == 0) %><g><% end %>
            <% if d.date.day == 1 %>
            <text x="0" y="<%= (18 * week_counter)+11 %>" class="results-month"><%= d.date.strftime('%b') %></text>
            <% end %>
            <g class="results-rect-group">

              <rect id="day-<%= d.id%>" class="results-rect day" width="15" height="15" x="<%= (18 * d.dofw)+8 %>" y="<%= 18 * week_counter %>" fill="<%= d.range_color%>" data-id="<%= d.id%>" data-score="<%= d.score%>" data-date="<%= d.date %>" data-g-id="<%= g.id%>"></rect>
              <text x="<%= (18 * d.dofw)+12 %>" y="<%= (18 * week_counter) + 12 %>" class="results-rect-text"><%= d.score%></text>
            </g>


            <% if (d.dofw == 1 || i == g.days.length-1) %></g><% end %>
            <% end %>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>