<p id="notice"><%= notice %></p>
<section class="small-section bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-consent main-panel">
          <div class="panel-heading text-center">
            <h2 class="panel-title text-center">Consent Status</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h3>Information</h3>
                <p>
                  <strong>User:</strong>
                  <%= @consent.user_id %>
                </p>

                <p>
                  <strong>Procedure:</strong>
                  <%= @consent.procedure_id %>
                </p>

                <p>
                  <strong>Indications complete:</strong>
                  <%= @consent.indications_complete %>
                </p>

                <p>
                  <strong>Benefits complete:</strong>
                  <%= @consent.benefits_complete %>
                </p>

                <p>
                  <strong>Risks complete:</strong>
                  <%= @consent.risks_complete %>
                </p>

                <p>
                  <strong>Alternatives complete:</strong>
                  <%= @consent.alternatives_complete %>
                </p>

                <p>
                  <strong>Description complete:</strong>
                  <%= @consent.description_complete %>
                </p>

                <p>
                  <strong>Consent complete:</strong>
                  <%= @consent.consent_complete %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>